/*Todo Переделать это всё в SASS*/

.todo-container{
    padding:1em;
    display:grid;
    grid-template-columns:1fr;
    gap:1em;
}

.todo-container__button-add{
    width: fit-content;
    padding: 1em 1.5em;
    border: 2px solid gray;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

.todo-container__button-add:hover{
    background-color: lightgray;
}

.todo-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.todo{
    display: grid;
    grid-template-columns: 1fr;
    gap:5px;
    position: relative;
    margin: 1em;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 1em;
}

.todo__title{
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    text-align: center;
    outline: none;
    margin-bottom: 0.5em;
}

.todo__task-list{
    display:grid;
    grid-template-columns:1fr;
    gap: 5px;
}

.todo__button-edit, .todo__button-delete{
    position: absolute;
}

.todo__button-edit, .todo__button-delete, .task__delete-button{
    height: 20px;
    width: 20px;
    padding: 0;
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: 0.25s;
    border-radius: inherit;
}

.todo__button-edit{
    top:5px;
    right:5px;
}

.todo__button-delete{
    top:5px;
    right:27px;
}

.todo__button-edit:hover, .Todo__button-delete:hover{
    background: inherit;
}

.todo span{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.todo__button-edit span.img-pen{
    background-image: url("../../assets/edit-button.svg");
}

.todo__button-edit span.img-discrete{
    background-image: url("../../assets/save-button.svg");
}

span.img-bin{
    background-image: url("../../assets/delete-button.svg");
}

.todo .task__text{
    cursor: default;
}

.todo .task__checkBox{
    cursor: pointer;
}

.todo.edit-mode .task__text{
    cursor: text;
}

.task{
    display: flex;
}

.task__text{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid inherit;
}

.task__text:focus{
    outline: none;
}

.task__delete-button{
    flex-grow: 0;
}

.task:has(.task__delete-button:hover) .task__text{
    text-decoration: line-through;
}

.todo .tasks__button-add{
    background-color: transparent;
    border: none;
    border-radius: inherit;
    cursor:pointer;
}
.todo .tasks__button-add:hover{
    background-color: inherit;
    opacity: 0.2;
}


