.app{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto;
}

.app__nav{
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: 0;
  height: 60px;
  background-color: lightgray;
}

.app__content{
  border: 1px solid gray;
  padding: 0.7em;
  grid-row: 2;
  margin: 0 50px;
}
