.App{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto;
}

.App-nav{
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: 0;
  height: 60px;
  background-color: lightgray;
}

.App-content{
  border: 1px solid gray;
  padding: 10px;
  grid-row:2;
  margin: 0 50px
}